<p><small><%= link_to @short_url %></small><br> now redirects to <br>	<%= link_to @item.original, @item.original %></p>

<p><%= link_to @short_url, @short_url, :class => "shortened" %><br> now redirects to <br>	<%= link_to @item.original, @item.original %></p>
<p><strong>Share to:<%= link_to " Twitter </strong>", @twitter_url, :class => "shortened" %><br></p>
<a name="fb_share" type="button_count" share_url="<%= @short_url%>" href="http://www.facebook.com/sharer.php">Share on your wall</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<fb:login-button v="2" onclicksize="medium">Connect</fb:login-button><br>
<fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic><br>
<fb:name uid="loggedinuser" useyou="false" linked="true"></fb:name><br>
<script type="text/javascript">function do_perm(){FB.Connect.showPermissionDialog("publish_stream",true);}</script>
<a href="#" class="button" onclick="do_perm(); return false;"><span>Add Permissions</span></a>
<script type="text/javascript">function do_post_page(){FB.Connect.streamPublish('',{'name':'<%= @short_url%>','href':'<%= @short_url%>','description':'Just shared using weebe.es','media':[{'type':'image','src':'http://images.websnapr.com/?size=S&key=76l78ieSa5UB&url=<%= @long_url%>','href':'<%= @short_url%>'}]},[{'text':'Shared 122 times with weebe.es','href':'http://weebees.heroku.com'}],null,"Just Shared a link with weebe.es",null,false,"327364725313");}</script>
<a href="#" class="button" onclick="do_post_page(); return false;"><span>Post to your Fan Page</span></a>
